{%extends 'todo/layout.html' %}

    {% block content %}
    <div class="container text-center">
        
        <div class="wrapper">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="p-3 mb-2 bg-warning text-dark" style="text-align: center;">
                    <h1>Registro</h1>
                </div>
            </div>
            {% if errors %}
            <div class="alert alert-danger" style="text-align: initial;">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>Error: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="POST" action="" style="display: flex;justify-content: center;">
                {% csrf_token %}
                <div class="form" style="width: 80%;">
                    <div class="form-group">
                        <label>Nombre De Usuario</label>
                        <div class="col-sm-10">
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Nombre </label>
                            <div class="col-sm-10">
                            {{ form.first_name }}
                            </div>
                        </div>
    
                        <div class="form-group col-sm-6">
                            <label>Apellido</label>
                            <div class="col-sm-10">
                            {{ form.last_name }}
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <div class="col-sm-10">
                        {{ form.email }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>DNI</label>
                        <div class="col-sm-10">
                        {{ form.DNI }}
                        </div>
                    </div>
                    {% load widget_tweaks %}
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Contraseña</label>
                            <div class="col-sm-10">
                            {{ form.password1|add_class:"form-control"  }}
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Confirmar Contraseña</label>
                            <div class="col-sm-10">
                            {{ form.password2|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Fecha de nacimiento</label>
                            {{ form.fechaNaci|add_class:"form-control" }}
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label>Lugar de Nacimiento</label>
                            {{ form.lugarNaci }}
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <label>Sexo </label>
                            {{ form.sexo }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Direccion de Facturacion</label>
                        <div class="col-sm-10">
                        {{ form.dirFact }}
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="tipoUsuario" maxlength="20" required="" id="id_tipoUsuario" value="cliente">
                    </div>

                    <div required class="form-group terms" style="justify-content: center;">
                        <label class="check">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <p>Deacuerdo con los terminos y condiciones</p>
                    </div>
                    <div class="form-group" style="justify-content: center;">
                        <button type="submit" class="btn btn-warning">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
