{% extends 'todo/layout.html' %}

{% block content %}
<h1>Recargar Saldo</h1>

<p>Saldo actual: {{ cliente.saldo }}</p>

<h3>Tarjetas disponibles:</h3>


{% if tarjetas %}
  <form method="POST">
    {% csrf_token %}

    

    <label for="tarjeta">Seleccionar tarjeta:</label>

    <select name="tarjeta" id="tarjeta">

      {% for tarjeta in tarjetas %}
        <option value="{{ tarjeta.id }}">{{ tarjeta.numero }}</option>
      {% endfor %}
    </select>

    {{ form.as_p }}
    
    <button type="submit">Recargar</button>
  </form>
{% else %}
  <p>No tienes tarjetas enlazadas a tu cuenta. Por favor, agrega una tarjeta antes de recargar el saldo.</p>
  <a href="{% url 'agregar_tarjeta' %}">Agregar Tarjeta</a>
{% endif %}
{% endblock content %}