{% extends 'todo/layout.html' %}

{% block content %}


<div class="tarjeta">
  <h1>Saldo actual: {{ cliente.saldo }}</h1>
</div>
{% for tarjeta in tarjetas %}
  <div class="tarjeta">
    <p>Número de tarjeta: {{ tarjeta.numero }}</p>
    
    
  </div>
{% endfor %}

<div class="contenido">
  <!-- Botón para agregar tarjeta -->
    <a href="{% url 'AddCard' user.DNI %}" class="btn btn-outline-dark" style="border-width: 3px; border-color: black; padding: 15px; margin-right: 20px;"><h2>AGREGAR TARJETA</h2></a>
  <!-- Botón para recargar saldo -->

  {% if tarjetas %}  
  <a href="{% url 'AddSaldo' user.DNI %}" class="btn btn-outline-dark" style="border-width: 3px; border-color: black; padding: 15px; margin-right: 20px;"><h2>RECARGAR SALDO</h2></a>
  {% comment %} <a href="#" class="btn btn-outline-dark" style="border-width: 3px; border-color: black; padding: 15px;"><h2>ELIMINAR TARJETA</h2></a> {% endcomment %}
  {% endif %}

</div>
{% endblock content %}