{% extends 'todo/layout.html' %}

{% block content %}
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST">
			{% csrf_token %}

			<form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container" id="container" style="text-align: center;">
                    <div class="p-3 mb-2 bg-warning text-dark">
                        <h2>Editar perfil</h2>
                    </div>
                    <div class="input-wrapper">
                        <label for="user-name-id">Username</label>
                        {{ form.username }}
                    </div>

                    <div class="input-wrapper">
                        <label>Nombre</label>
                        {{ form.first_name }}
                    </div>
                    
                    <div class="input-wrapper">
                        <label>apellido</label>
                        {{ form.last_name }}
                    </div>
                    <div class="input-wrapper">
                        <label>sexo</label>
                        {{ form.sexo }}
                    </div>
                    <div class="input-wrapper">
                        <label>lugar de nacimiento</label>
                        {{ form.lugarNaci }}
                    </div>
                    <div class="input-wrapper">
                        <label>direccion de facturacion</label>
                        {{ form.dirFact }}
                    </div>

                    <button type="submit" class="btn btn-warning btn-bg"  href="{% url 'home' %}">editar</button>
                </div>
            </form>

		</form>
	</div>		
	
</div>
   

{% endblock content %}