{%extends 'todo/layout.html' %}

{%block content%}
<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container text-center">
    <h1 class="display-4">E-FLY</h1>
  </div>
</div>
<div class="container text-center">
<table class="table table-warning">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tarea</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
      <tr>
        <th scope="row">{{ tarea.id }}</th>
        <td>{{ tarea }}</td>
        <td>
            <a class="btn btn-warning btn-sm" href="{% url 'eliminar' tarea.id %}">eliminar</a>
            <a class="btn btn-light btn-sm" href="{% url 'editar' tarea.id %}">editar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
