{%extends 'todo/layout.html' %}

{%block content%}
<style>
  .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .btnsuperior{
    display: flex;
  }

  .interface {
    display: flex;
    flex: 100%;
    padding: 1px;
    margin: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
</style>
<!--
<div class="container-fluid bg-warning text-dark d-flex justify-content-center" style="border: 1px solid black; margin-bottom: 10px;">
  {% if request.user.is_authenticated %}
    {% if request.user.tipoUsuario == 'admin' %}
      <h2>Bienvenido {{ user.username | upper }} administrador</h2>
    {%endif%}
    {% if request.user.tipoUsuario == 'cliente' %}
      <h2>Bienvenido {{ user.username | upper }} a E-FLY</h2>
    {%endif%}
  {%else%}
    <h1>Bienvenido a E-FLY</h1>
    
  {%endif%}
</div>
-->
{% if not request.user.is_authenticated %}
  <div class="btnsuperior p-1">
    <a id="vuelos" class="btn btn-sm btn-warning  btn-outline-dark btn-size" role="button" href="#"><h5>VUELOS</h5></a>
    <a id="checkin" class="btn btn-sm btn-warning  btn-outline-dark btn-size" role="button" href="#"><h5>CHECK-IN</h5></a>
  </div>
{%endif%}

<div class = "interface p-1">
  
  {% if not request.user.tipoUsuario == 'admin'   %}
    {% if not request.user.username == 'root' %}
      <div class="card border-2 shadow my-2" style="border: 1px solid black; display: flex; flex:50%;margin-right: 10px;">
        <h2>SECCION DE NOTICIAS</h2>
      </div>
    {%endif%}
  {%endif%}
  
  {% if not request.user.is_authenticated %}
    <div class="card border-2 shadow my-2" style="border: 1px solid black; display: flex; flex:50%;">
      <h2>EXPOSITOR DE VUELOS</h2>
    </div>
  {%endif%}
</div>


<div class="container text-center">
<table class="table table-warning">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{% endblock %}
