{%extends 'todo/layout.html' %}

        {% block content %}
        <div class="container text-center">
            
        <div class="wrapper">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="container text-center">
                  <h1 class="display-8">REGISTRO</h1>
                </div>
              </div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form">
                    <div class="input-wrapper">
                        <label>Nombre</label>
                        {{ form.nombre }}
                        
                     </div>
                    <div class="input_field">
                        <label>Apellido</label>
                        {{ form.apellido }}
                    </div>
                    <div class="input_field">
                        <label>contraseña</label>
                        {{ form.contraseña }}
                    </div>

                    <div class="input_field">
                        <label>Correo</label>
                        {{ form.email }}
                    </div>
                    <div class="input_field">
                        <label>Sexo</label>
                        {{form.sexo}}
                        </div>
                    </div>
                    <div class="input_field">
                        <label>Direccion de facturacion</label>
                        {{ form.dirFact }}
                    </div>
                    <div class="input_field">
                        <label>Lugar de Nacimiento</label>
                        {{ form.lugarNaci }}
                    </div>
                    <div class="input_field">
                        <label>Fecha de Nacimiento</label>
                        {{ form.fechaNaci }}
                    </div>
                    <div class="input_field terms">
                        <label class="check">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <p>Deacuerdo con los terminos y condiciones</p>
                    </div>
                    <div class="input_field">
                        <button type="submit" class="btn btn-warning">registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        {% endblock %}
